*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

html,body{
    height: 100%;
    width: 100%;
}

#main-nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3vw;
    background-color: white;
    /* border-bottom: 2px solid black; */
}

#sec-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    background-image: url(https://toppng.com/uploads/preview/toggle-navigation-pandit-ji-11563134411oo2s6pzvri.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
    /* background-color: red; */
    
}

#sec-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    gap: 3vw;
    /* background-color: aqua; */
    font-size: 0.75vw;
    
}
#sec-3{
    display: flex;
    
    align-items: center;
    justify-content: center;
    width: 12.5vw;
    background-color: #ca961c;
    /* gap: 1vw; */
}

#circle{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: red;
}

#sec-3-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    
    height: 3.5vw;
    /* background-color: black; */
    margin-right: 0.5vw;
}

#sec-3-1 i{
    color: white;
    
}
#sec-3-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 3.5vw;
    color: white;
    font-size: 1vw;
    /* background-color: red; */
}


#slidebar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25vw;
    /* background-color: black; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),url(https://upload.wikimedia.org/wikipedia/commons/1/12/Trimbakeshwar_Temple-Nashik-Maharashtra-1.jpg);
    filter: brightness(110%);
    top: 20%;
    background-size: 130%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
    
}

#slide-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 25vw;
    /* background-color: black; */
    color: white;
    font-family: Courier, monospace;
    
}
#slide-content h2{
    
    font-size: 2vw;
    font-weight: 100;
}
#slide-content h1{
    font-size: 2vw;
    
    font-weight: 1000;
}
#slide-content h6{
    margin-top: 1vw;
    text-align: center;
}
#box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    width:13vw;
    height: 2.5vw;
    background-color: white;
    color: #FFC436;
    font-size: 1vw;
    gap: 0.75vw;
}

#box h4{
    color: #ca961c;
}


#content-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vw;
    /* background-color: black; */
    gap: 2vw;
}
#content-1-1{
    margin-top: 2vw;
    height: 21vw;
    width: 20%;
    background-color: white;
    background-image: url(https://i.pinimg.com/736x/d6/c5/57/d6c557a4323b422b8d1226922b6f7bf6.jpg);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat
}
#content-1-2{
    
    height: 20vw;
    width: 27%;
    /* background-color: red; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 1vw;
    margin-top: 4vw;
}
/* #content-1-2 h6{
    text-align: left;
} */
#content-1-2 h2{
    font-weight: 900;
}
#content-1-2 h3{
    font-weight: 200;
}
#content-1-2 h5{
    font-weight: 150;
      color: gray;
}

#line{
   border-left: 3px solid rgb(208, 179, 35);
   height: 3.6vw;
   margin-left: 1%;
   
}
#details{
    margin-left: 0.5vw;
}

#content-1-2-1{
    display: flex;
    width: 100%;
    height: 5vw;
    /* background-color: #FFC436; */
}

#content-1-2 p{
    font-size: 0.7vw;
}

#content-1-2-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width:13vw;
    height: 2.5vw;
    margin-top: 1.5vw;
    background-color: #ca961c;
    font-size: 1vw;
    gap: 0.75vw;
    color: white;
}

#content-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vw;
    background-color: #FEFBE7;
}

#content-2-1{
    
    height: 20vw;
    width: 27vw;
    /* background-color: red; */
}
#content-2-2{
    height: 21vw;
    width: 20%;
    /* background-color: royalblue; */
    margin-left: 1.5vw;
    background-image: url(https://apnakarma.com/wp-content/uploads/2018/02/Griha-Pravesh-Puja-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  
}

#content-2-1 h3{
    margin-top: 0.5vw;
    font-size: 1.5vw;
    font-weight: 150;
}
#content-2-1 h5{
      font-weight: 150;
      color: gray;
      
}

#content-2-1 h2{
    font-weight: 700;
    
}
#content-2-1-1{
    width: 100%;
    height: 5vw;
    /* background-color: black; */
    margin-top: 1vw;
}
#block-1{
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5vw ;
    /* background-color: yellow; */
}

#block-2{
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5vw ;
    /* background-color: green; */
}


#block-1 h5{
    margin-left: 1vw;
    font-size: 0.7vw;
    color: black;
}
#block-2 h5{
    margin-left: 1vw;
    font-size: 0.7vw;
    color: black;
}

#block-1-box{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 1.5vw;
    width: 1.5vw;
    background-color: #ca961c;
}

#content-3{
    width: 100%;
    height: 7vw;
    /* background-color: royalblue; */
}

#content-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#content-3 h5{
    color: gray;
}
#content-3-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-4{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 25vw;
   
    /* background-color: black; */
}

#content-4-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vw;
    /* background-color: red; */
    gap: 1vw;
   
    
}

#first{
    width: 17vw;
    height: 17vw;
    /* background-color: green; */
    border: 2px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#first-1{
       width: 100%;
       height: 60%;
       background-color: pink;
       border: 2px;
       border-radius: 5px;
       background-image: url(https://www.shutterstock.com/image-photo/small-pooja-plate-candle-flowers-260nw-1618014418.jpg);
       background-size: cover;
       background-repeat: no-repeat;
} 
#first-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}  
#first-2 h4{
    margin-top: 0.5vw;
}
#first-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 2.2vw;
    background-color: #ca961c;
    margin-top: 1vw;
    color: white;
    font-weight: 500;
    gap: 0.5vw;
} 
#second{
    width: 17vw;
    height: 17vw;
    /* background-color: orangered; */
    border: 2px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#second-1{
    width: 100%;
    height: 60%;
    background-color: pink;
    border: 2px;
    border-radius: 5px;
    background-image: url(https://poojatrimbakeshwar.in/assets/img/blog/narayan-nagbali-puja-blog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


#third{
    width: 17vw;
    height: 17vw;
    /* background-color: purple; */
    border: 2px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#third-1{
    width: 100%;
    height: 60%;
    /* background-color: pink; */
    border: 2px;
    border-radius: 5px;
    background-image: url(https://www.jagranimages.com/images/newimg/08092023/08_09_2023-shivling_worship_niyam_23525128.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#content-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13vw;
    background-color: rebeccapurple;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(https://www.shutterstock.com/image-photo/woman-lighting-brass-diya-kept-600nw-2362063861.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
}
#content-5 h3{
    margin-top: 0.5vw;
    color: white;
}

#content-6{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vw;
    /* background-color: violet; */
    gap: 1vw;
}

#content-6-1{
    display: flex;
    flex-direction: column;
    height: 21vw;
    width: 30%;
    margin-left: 20vw;
    /* background-color: red; */
}


#content-6-box-1{
    display: flex;
    width: 100%;
    height: 3vw;
    margin-top: 0.5vw;
    /* background-color: black; */
}

#content-6-box-1-1{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 10%;
    /* background-color: purple; */
}

#content-6-box-1-2 h3{
    font-weight: 500;
}

#content-6-1 h5{
    margin-left: 3vw;
}

#content-6-box-1-2{
    margin-left: 0.5vw;
    height: 100%;
    width: 90%;
    background-color: white;
}

#line-1{
    
    border-left: 3px solid rgb(208, 179, 35);
    height: 3vw;
    margin-left: 1%;
}

#content-6-box-1-2{
    display: flex;
    flex-direction: column;
}


#content-6-box-2{
    margin-top: 1vw;
    width: 100%;
    height: 3vw;
    margin-left: 2.6vw;
    
    /* background-color: gray; */
   
}

#content-6-box-2 h4{
   font-weight: 150;
}


#address{
    width: 100%;
    height: 1vw;
    
    /* background-color: #ca961c; */
   
}
#phon{
    width: 100%;
    height: 1vw;
    /* background-color: aqua; */
    margin-top: 0.5vw;
}
#email{
    width: 100%;
    height: 1vw;
    /* background-color: royalblue; */
    margin-top: 0.5vw;
}



#content-6-2{
    display: flex;
    flex-direction: column;
    height: 25vw;
    margin-top: 1.5vw;
    width: 40%;
    margin-right: 14vw;
    /* background-color: black; */
}

.form-group input{
    width: 35vw;
    

}
.form-group-half input{
    width: 13.5vw;
    height: 2vw;
}
.form-group select{
    width: 35vw;
}
.form-group textarea{
    margin-top: 1vw;
    width: 30vw;
    height: 6vw;
}


.submitbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 2.2vw;
    background-color: #ca961c;
    margin-top: 1vw;
    color: white;
    font-weight: 500;
}

.submitbutton input{
    width: 10vw;
    height: 2.2vw;
    background-color: #ca961c;
    color: white;
    font-size: 1vw;
    border: none;
    
}
/* .form-group-1 input{
    width: 9vw;
    height: 2.5vw;
} */








#fullname{
    width: 30vw;
    height: 2vw;
}
#phonenumber{
    margin-top: 1vw;
    width: 30vw;
    height: 2vw;
}
#pooja{
    margin-top: 1vw;
    width: 30vw;
    height: 2vw; 
}
.form-group {
    margin-bottom: 1px;
}
label {
    display: block;
    font-weight: bold;
}

.form-group-half {
    gap: 1vw;
    width: 40.5%;
    display: inline-block;
}
.form-group-half:nth-child(odd) {
    margin-right: 4%;
}

/* select {
    height: 40px;
}
textarea {
    height: 100px;
} */
/* input[type="text"], */
/* select,
textarea {
    width: 76.1%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 1vw;
} */

.btn {
    margin-top: 1vw;
    background-color: #ca961c;
    color: white;
    padding: 15px 40px;
    border: none;
   
    cursor: pointer;
    font-size: 16px;
}





#same-line{
    display: flex;
    gap: 0.1vw;
    margin-top: 1vw;
}


footer{
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    width: 100%;
    height: 15vw;
    background-color: black;
    border-bottom: 2px solid gray;
}
 footer h4{
    font-weight: 550;
 }

 footer h5{
    font-size: 0.8vw;
 }





#content-7-1{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    margin-top: 3vw;
    height: 10vw;
    width: 15vw;
    /* background-color: red; */
    color: white;   
}
#content-7-1 h5{
    font-weight: 110;
}

#logo{
    margin-top: 0.5vw;
    
}

/* #content-7-1 h4 h5{
    text-align: start;
    
} */


#content-7-2{
    margin-top: 3vw;
    height: 10vw;
    width: 8vw;
    /* background-color: red;      */
    color: white; 
}

#content-7-3 h5{
    margin-top: 1vw;
   font-weight: 110;
}
#content-7-4 h5{
    margin-top: 10vw; 
    font-weight: 110;
}

#content-7-2 h5{
    margin-top: 1vw;
    font-weight: 110;
}




#content-7-3{
    margin-top: 3vw;
    height: 10vw;
    width: 13vw;
    /* background-color: red;  */
    color: white;     
}

#content-7-3 h5{
    margin-top: 1vw;
}

#content-7-4{
    margin-top: 3vw;
    height: 10vw;
    width: 11vw;
    /* background-color: red;   */
    color: white;    
}

#content-7-4 h5{
    margin-top: 1vw;
}

/* #footer-line{
    border: 1px solid red;
} */

#lastline{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 4vw;
    background-color: black;
   
}

#horiline{
   
   
    
    border: 1px solid gray;border: 2px;
    border-bottom: 3px gray;
    background-color: black;
}